* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(8, 68, 132);
}

/* .heading {
  color: white;
  margin: 30px auto 0;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
} */

.container {
  background-color: white;
  margin: 100px auto 0;
  max-width: 700px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.section {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  gap: 15px;
}

button {
  height: 28px;
  width: 28px;
  border: none;
  background: transparent;
}

.input-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

input {
  border-radius: 15px;
  height: 20px;
  padding: 1px;

}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 40px;
  height: 28px;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #020929;
}

label {
  font-size: 14px;
}

#text-input {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  height: 50vh;
  font-size: 14px;
}

.active {
  background-color: #e0e9ff;
}