*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background: #002339;
  color: #fff;
}
.container{
  max-width: 700px;
  margin: 12%;
  width: 90%;
}
.container h1{
  font-weight: 500;
  font-size: 48px;
}
.container h1 span{
  color: #019f55;
  border-bottom: 4px solid #019f55;
}
.pass-div{
  margin-top: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
.password{
  height: 90px;
  border-radius: 5px;
  font-size: 24px;
  padding: 30px 20px;
  flex: 1;
}
.copy{
  position: absolute;
  right: 20px;
  top: 30px;
  height: 32px;
  background: transparent;
}
.generate-button{
  background: #019f55;;
  border-style: none;
  color: white;
  height: 70px;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 22px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
.generate-button div{
  flex: 1;
}
.generate-icon{
  height: 45px;
  margin-left: 30px;
}